<% model = Db::PreachingCampaign %>

<h1><%= model_name(model) %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= attribute_name(:name, model: model) %></th>
      <th scope="col"><%= attribute_name(:code, model: model) %></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
