<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary'], type: :list_options) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<div class="index-list">
  <% speakers.each do |speaker| %>
    <div class="item position-relative">
      <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
        <% component.item do %>
          <%= show_link(speaker) %>
        <% end %>
        <% component.item do %>
          <%= edit_link(speaker) %>
        <% end %>
        <% component.item do %>
          <%= destroy_link(speaker) %>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-lg-12 title mb-2">
          <%= icon('person') { speaker.name } %>
        </div>
      </div>
      <div class="row small">
        <div class="col-sm-12 col-lg-4">
          <% if speaker.congregation.present? %>
            <%= icon('shop') { speaker.congregation.name } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if speaker.phone.present? %>
            <%= icon('phone') { PhoneNumber.new(speaker.phone).to_s } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if speaker.email.present? %>
            <%= icon('pencil') { speaker.email } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render PaginationComponent.new(speakers, position: :bottom) %>
</div>
