<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary']) do |component| %>
  <% component.item do %>
    <%= edit_link %>
  <% end %>
  <% component.item do %>
    <%= destroy_link %>
  <% end %>
<% end %>

<div class="show-page">
  <div class="row">
    <div class="col-sm-12 title mb-2">
      <%= icon('person') { speaker.name } %>
    </div>
    <div class="col-sm-12 mb-2">
      <% if speaker.congregation_name.present? %>
        <%= icon('shop') { speaker.congregation_name } %>
      <% end %>
    </div>
  </div>

  <%= render ContactInfoComponent.new(phone: speaker.phone, email: speaker.email) %>
</div>
