<%= link_to t('app.links.new'), new_meeting_attendance_meeting_url, class: 'btn btn-info' %>

<div class="card">
  <div class="card-header">
    <%= t('app.titles.meeting_attendance') %>
  </div>

  <ul class="list-group list-group-flush">
    <% @meetings.each do |meeting| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <%= meeting.title %>
          </div>
          <div class="col-sm-12 col-md-4">
            <%= time_ago_in_words(meeting.created_at) %> atrás
          </div>

          <div class="col-sm-12 col-md-4">
            <%= link_to t('app.links.edit'), edit_meeting_attendance_meeting_url(meeting), class: 'btn' %>
            <%= link_to t('app.links.delete'), meeting_attendance_meeting_url(meeting), data: { method: :delete, confirm: t('app.messages.confirm_delete') }, class: 'btn text-danger' %>
            <%= link_to t('app.links.simple_counter'), meeting_attendance_meeting_simple_counter_attendees_url(meeting), class: 'btn' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
