<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary'], type: :list_options) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<div class="index-list">
  <% campaigns.each do |campaign| %>
    <%= render FieldService::Campaigns::ListItemComponent.new(campaign: campaign) %>
  <% end %>
</div>

<%= render pagination %>
