<div class="item <%= bem %> position-relative">
  <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
    <% actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <%= render attribute(:name).with_code %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= render attribute(:dates) %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= render attribute(:territories) %>
    </div>
  </div>
</div>
