<div class="wrapper" id="sidebar-component">
  <nav id="sidebar">
    <div class="position-relative text-center">
      <button data-toggle-sidebar class="btn"><i class="bi bi-arrow-left-circle-fill"></i></button>
    </div>

    <div class="px-3">
      <div class="sidebar-user mt-3">
        <%= image_tag("#{current_user.avatar}?sz=25", class: 'avatar-25') %> <%= current_user.name %>
      </div>

      <div class="sidebar-header mb-2 mt-4">
        <b>KH Tools</b>
      </div>

      <% menu_entries.each do |entry| %>
        <% if entry.children.empty? %>
          <div class="my-2"><%= link_to(entry.text, entry.url) %> </div>
        <% else %>
          <details open>
            <summary class="p-2"><%= entry.text %></summary>
            <% entry.children.each do |child| %>
              <div class="sub-item p-2 pl-5"><%= link_to(child.text, child.url) %> </div>
            <% end %>
          </details>
        <% end %>
      <% end %>
    </div>
  </nav>

  <div id="sidebar-button-container">
    <button data-toggle-sidebar class="btn"><i class="bi bi-arrow-right-circle-fill"></i></button>
  </div>

  <div id="content" class="mt-5 pt-2 container-fluid">
    <%= main_container %>
  </div>
</div>
