<%= render breadcrumb %>

<%= render Territories::TerritoryTerritoryComponent.new(Db::Territory.new(territory: territory), attribute_name: :territory).without_icon.with_label.with_link %>

<h1 class="h5"><%= page_title %></h1>

<%= simple_form_for(contact, url: target_url, as: 'contact') do |f| %>
  <%= input_wrapper do %>
    <%= f.input :name %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :email %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :address %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :phone %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :phone2 %>
  <% end %>
  <%= input_wrapper do %>
    <%= f.input :notes %>
  <% end %>
  <%= f.submit(class: 'btn btn-primary mt-3 float-right') %>
<% end %>
