<%= render breadcrumb %>

<%= render Territories::TerritoryTerritoryComponent.new(Db::Territory.new(territory: territory), attribute_name: :territory).without_icon.with_label.with_link %>

<h1 class="h5"><%= title %></h1>

<%= render DropdownMenuComponent.new(type: :list_options) do |component| %>
  <% component.item do %>
    <%= link_to t('app.links.new'), new_territories_commercial_territory_contact_path, class: 'btn' %>
  <% end %>
<% end %>

<div class="index-list">
  <% contacts.each do |contact| %>
    <div class="item position-relative">
      <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
        <% component.item do %>
          <%= link_to t('app.links.edit'), edit_path(contact), class: 'btn' %>
        <% end %>
        <% component.item do %>
          <%= link_to t('app.links.delete'), contact_path(contact), data: { method: :delete, confirm: t('app.messages.confirm_delete') }, class: 'btn' %>
        <% end %>
      <% end %>

      <div class="row">
        <%= render Territories::ContactNameComponent.new(contact, attribute_name: :name).with_label.without_icon.wrap_with(:div, class: 'col-sm-12 col-lg-4') %>
        <%= render Territories::ContactEmailComponent.new(contact, attribute_name: :email).with_label.without_icon.wrap_with(:div, class: 'col-sm-12 col-lg-4') %>
        <%= render Territories::ContactPhoneNumbersComponent.new(contact, attribute_name: :phone_numbers).with_label.without_icon.wrap_with(:div, class: 'col-sm-12 col-lg-4') %>
        <%= render Territories::ContactAddressComponent.new(contact, attribute_name: :address).with_label.without_icon.wrap_with(:div, class: 'col-sm-12') %>
        <%= render Territories::TerritoryNotesComponent.new(contact, attribute_name: :notes).with_label.without_icon.wrap_with(:div, class: 'col-sm-12') %>
      </div>
    </div>
  <% end %>
</div>
