<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary'], type: :list_options) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<div class="index-list">
  <% congregations.each do |congregation| %>
    <div class="item position-relative">
      <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
        <% component.item do %>
          <%= edit_link(congregation) %>
        <% end %>
        <% component.item do %>
          <%= destroy_link(congregation) %>
        <% end %>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-lg-12 title mb-2">
          <%= icon('shop') { congregation.name } %>
        </div>
      </div>
      <div class="row small">
        <div class="col-sm-12 col-lg-4">
          <% if congregation.primary_contact_person.present? %>
            <%= icon('person') { congregation.primary_contact_person } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if congregation.primary_contact_phone.present? %>
            <%= icon('phone') { PhoneNumber.new(congregation.primary_contact_phone).to_s } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if congregation.primary_contact_email.present? %>
            <%= icon('pencil') { congregation.primary_contact_email } %>
          <% end %>
        </div>
      </div>
      <div class="row small">
        <div class="col-sm-12">
          <% if congregation.address.present? %>
            <%= icon('signpost') { congregation.address } %>
          <% end %>
        </div>
      </div>
      <div class="row small">
        <div class="col-sm-12">
          <% if congregation.weekend_meeting_time.present? %>
            <%= icon('clock') { congregation.weekend_meeting_time } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render PaginationComponent.new(congregations, position: :bottom) %>
</div>
