<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary']) do |component| %>
  <% component.item do %>
    <%= edit_link %>
  <% end %>
  <% component.item do %>
    <%= destroy_link %>
  <% end %>
<% end %>

<div class="show-page">
  <div class="row">
    <div class="col-sm-12 title mb-5">
      <%= icon('shop') { congregation.name } %>
    </div>
    <div class="col-sm-12 mb-2">
      <% if congregation.address.present? %>
        <%= icon('signpost') { congregation.address } %>
      <% end %>
    </div>
    <div class="col-sm-12 mb-2">
      <% if congregation.weekend_meeting_time.present? %>
        <%= icon('clock') { congregation.weekend_meeting_time } %>
      <% end %>
    </div>
  </div>

  <% if has_contact_information? %>
    <div class="mt-5">
      <div class="col-sm-12 mb-2">
        <% if congregation.primary_contact_person.present? %>
          <%= icon('person') { congregation.primary_contact_person } %>
        <% end %>
      </div>
      <div class="col-sm-12 mb-2">
        <% if congregation.primary_contact_phone.present? %>
          <%= icon('phone') { PhoneNumber.new(congregation.primary_contact_phone).to_s } %>
        <% end %>
      </div>
      <div class="col-sm-12 mb-2">
        <% if congregation.primary_contact_email.present? %>
          <%= icon('pencil') { congregation.primary_contact_email } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
