<div class="item position-relative">
  <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
    <% actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <% unless territory_perspective? %>
      <%= render attribute(assignment.territory&.name)
        .with_label(:territory)
        .with_link(urls.to(assignment.territory)).wrap_with(:div, class: 'col-md-3') %>
    <% end %>

    <% unless publisher_perspective? %>
      <%= render attribute(assignment.assignee&.name)
        .with_label(:publisher)
        .with_link(urls.publisher_path(assignment.assignee)).wrap_with(:div, class: 'col-md-3') %>
    <% end %>

    <% unless campaign_perspective?  %>
      <%= render attribute(assignment.campaign&.name)
        .with_label(:campaign)
        .with_link(campaign_url).wrap_with(:div, class: 'col-md-3') %>
    <% end %>

    <%= render Territories::TerritoryAssignmentDatesComponent.new(assignment, attribute_name: :assignment_dates)
    .with_label(:assignment_dates)
    .without_icon
    .wrap_with(:div, class: 'col-md-3') %>

    <%= render attribute(assignment.notes).with_label(:notes) .wrap_with(:div, class: 'col-md-3 small') %>
  </div>
</div>
