<%= render breadcrumb %>


<%= render DropdownMenuComponent.new(
  classes: ['btn-primary my-4'],
  pull: :right
) do |component| %>
  <% list_actions.each do |action| %>
    <% component.item do %>
      <%= action %>
    <% end %>
  <% end %>
<% end %>

<% territories.each do |territory| %>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <%= territory.name %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= territory.assignee %>
    </div>
    <div class="col-sm-12 col-lg-2">
    </div>
    <div class="col-sm-12 col-lg-2 pull-right">
      <%= render DropdownMenuComponent.new do |component| %>
        <% territory_actions.each do |action| %>
          <% component.item do %>
            <%= action.call(territory) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render PaginationComponent.new(territories, position: :bottom) %>
