<div id="territories-common-index-component">
  <%= render breadcrumb %>

  <%= render DropdownMenuComponent.new(
    classes: ['btn-primary'],
    pull: :right
  ) do |component| %>
    <% list_actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <% territories.each do |territory| %>
    <div class="territory">
      <div class="row item">
        <div class="col-sm-12 col-lg-12 territory-name">
          <%= territory.name %>
          <%= render DropdownMenuComponent.new do |component| %>
            <% territory_actions.each do |action| %>
              <% component.item do %>
                <%= action.call(territory) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-4">
        </div>
        <div class="col-sm-12 col-lg-4">
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if territory.assignee %>
            <i class="bi bi-person"></i>&nbsp;<span class="small"><%= territory.assignee %></span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render PaginationComponent.new(territories, position: :bottom) %>
</div>
