<div id="territories-common-index-component">
  <%= render breadcrumb %>
  <%= render DropdownMenuComponent.new(classes: ['btn-primary'], type: :list_options) do |component| %>
    <% actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <%= render search_form %>

  <% territories.each do |territory| %>
    <%= render Territories::ListItemComponent.new(territory) %>
  <% end %>

  <%= render PaginationComponent.new(territories, position: :bottom) %>
</div>
