<div id="territories-common-index-component">
  <%= render breadcrumb %>

  <%= render search_form %>

  <%= render DropdownMenuComponent.new(
    classes: ['btn-primary'],
    pull: :right
  ) do |component| %>
    <% list_actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <% territories.each do |territory| %>
    <%= render Territories::ListItemComponent.new(territory) %>
  <% end %>

  <%= render PaginationComponent.new(territories, position: :bottom) %>
</div>
