<div class="territory position-relative">
  <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
    <% actions.each do |action| %>
      <% component.item do %>
        <%= action %>
      <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <%= render attribute(:name).wrap_with(:div, class: 'col-sm-12 col-lg-12 territory-name h5') %>
    <%= render attribute(:building_name).wrap_with(:div, class: 'col-sm-6 small') %>
  </div>
  <div class="row">
    <%= render attribute(:address).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
    <%= render attribute(:area).wrap_with(:div, class: 'col-sm-3 col-lg-3 small') %>
  </div>
  <div class="row">
    <%= render attribute(:number_of_apartments).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
    <%= render attribute(:preaching_methods).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
    <div hidden><%= render attribute(:intercom_type) %> </div>
    <div hidden><%= render attribute(:letter_box_type) %></div>
    <div hidden><%= render attribute(:has_a_roof) %></div>
  </div>
  <div class="row">
    <%= render attribute(:phone_numbers).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
    <%= render attribute(:phone_providers).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
  </div>
  <div class="row">
    <%= render attribute(:contacts_summary).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
  </div>
  <div class="row">
    <%= render attribute(:assignee).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
    <%= render attribute(:assignment_dates).wrap_with(:div, class: 'col-sm-6 col-lg-6 small') %>
  </div>
  <div class="row small">
    <%= render attribute(:notes).wrap_with(:div, class: 'col-sm-12 col-lg-12 small') %>
  </div>

  <% if territory.file.url %>
    <%= image_tag(territory.file.small.url, class: 'img-fluid') %>
  <% end %>
</div>
