<details class="<%= bem %>" <%= open_attribute %>>
  <summary class="btn"> <%= icon(:search) %></summary>

  <%= form_with url: action, method: :get, data: { remote: false } do |form| %>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="form-wrapper">
          <label><%= name_label %></label>
          <%= name_input(form) %>
        </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <div class="form-wrapper">
          <label><%= field_service_group_label %></label>
          <%= field_service_group_input(form) %>
        </div>
      </div>

      <% if type.phone_list? %>
        <div class="col-sm-12 col-md-4">
          <div class="form-wrapper">
            <label><%= phone_provider_label %></label>
            <%= phone_provider_input(form) %>
          </div>
        </div>
      <% end %>

      <div class="col-sm-12 col-md-4">
        <div class="form-wrapper">
          <label><%= publisher_label %></label>
          <%= publisher_input(form) %>
        </div>
      </div>

      <% if editable_attribute?(:territory_id) %>
        <div class="col-sm-12 col-md-4">
          <div class="form-wrapper">
            <label><%= territory_label %></label>
            <%= territory_input(form) %>
          </div>
        </div>
      <% end %>

      <% if editable_attribute?(:area_id) %>
        <div class="col-sm-12 col-md-4">
          <div class="form-wrapper">
            <label><%= area_label %></label>
            <%= area_input(form) %>
          </div>
        </div>
      <% end %>

      <% if include_preaching_method? %>
        <div class="col-sm-12 col-md-4">
          <div class="form-wrapper">
            <label><%= preaching_method_label %></label>
            <%= preaching_method_input(form) %>
          </div>
        </div>
      <% end %>

      <% if editable_attribute?(:pending_verification) %>
        <div class="col-sm-12 col-md-4">
          <div class="form-wrapper">
            <label><%= pending_verification_label %></label>
            <%= pending_verification_input(form) %>
          </div>
        </div>
      <% end %>
    </div>


    <div>
      <button class="my-2 btn btn-primary" type="submit"><%= icon(:search) { t('app.links.search') } %></button>
      <%= link_to t('app.links.clear_filters'), reset_url, class: 'btn btn-primary' %>
    </div>
  <% end %>
</details>
