<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% territory_actions.each do |action| %>
    <% component.item do %>
      <%= action %>
    <% end %>
  <% end %>
<% end %>

<%= render attribute(:name).with_label.without_icon %>

<% if type == :apartment_building  %>
  <h2 class="h5 my-3"><%= t('active_admin.resources.db/territories.sections.building_inputs') %></h2>
  <div><%= render territory_attribute(:building_name) %></div>
  <div><%= render territory_attribute(:address) %></div>
  <div><%= render territory_attribute(:area) %></div>
  <div><%= render territory_attribute(:number_of_apartments) %></div>
  <div><%= render territory_attribute(:territory) %></div>

  <h2 class="h5 my-3"><%= t('active_admin.resources.db/territories.sections.preaching_methods') %></h2>
  <div><%= render territory_attribute(:preaching_methods) %></div>
  <div><%= render territory_attribute(:has_a_roof) %></div>
  <div><%= render territory_attribute(:intercom_type) %></div>
  <div><%= render territory_attribute(:letter_box_type) %></div>
  <div><%= render territory_attribute(:apartments) %></div>
<% end %>

<div><%= render territory_attribute(:contacts_summary) %></div>
<div><%= render territory_attribute(:phone_provider) %></div>
<div><%= render territory_attribute(:phone_numbers) %></div>

<% if territory.notes.present? %>
  <div class="alert alert-warning" role="alert"><%= render territory_attribute(:notes) %></div>
<% end %>

<h2 class="h5 my-3"><%= t('active_admin.resources.db/territories.sections.assignment') %></h2>
<div><%= render territory_attribute(:assignee) %></div>
<div><%= render territory_attribute(:assignment_dates) %></div>
