<%= render breadcrumb %>

<% if access_token %>
  <%= render CopyToClipboardComponent.new do %>
    <div class="alert alert-danger" role="alert">
      <div class="shareable-xls-link"><%= tokenized_xls_link %></div>
      <div class="shareable-pdf-link"><%= tokenized_pdf_link %></div>
    </div>
  <% end %>
<% end %>

<%= render DropdownMenuComponent.new(classes: ['btn-primary'], type: :list_options) do |component| %>
  <% actions.each do |action| %>
    <% component.item do %>
      <%= action %>
    <% end %>
  <% end %>
<% end %>

<%= render attribute(:name).with_label.without_icon %>
<%= render attribute(:field_service_group).with_label.without_icon %>

<% if type == :apartment_building  %>
  <h2 class="h5 my-3"><%= t('active_admin.resources.db/territories.sections.building_inputs') %></h2>
  <div><%= render territory_attribute(:building_name) %></div>
  <div><%= render territory_attribute(:address) %></div>
  <div><%= render territory_attribute(:area) %></div>
  <div><%= render territory_attribute(:territory).with_link %></div>
  <div><%= render territory_attribute(:number_of_apartments) %></div>
  <div><%= render territory_attribute(:apartments) %></div>

  <h2 class="h5 my-3"><%= t('active_admin.resources.db/territories.sections.preaching_methods') %></h2>
  <div><%= render territory_attribute(:preaching_methods) %></div>
  <div><%= render territory_attribute(:has_a_roof) %></div>
  <div><%= render territory_attribute(:intercom_type) %></div>
  <div><%= render territory_attribute(:letter_box_type) %></div>
<% end %>

<div><%= render territory_attribute(:contacts_summary) %></div>
<div><%= render territory_attribute(:phone_provider) %></div>
<div><%= render territory_attribute(:phone_numbers).show_details %></div>

<% if territory.notes.present? %>
  <div class="alert alert-warning" role="alert"><%= render territory_attribute(:notes) %></div>
<% end %>
<div><%= render territory_attribute(:pending_verification) %></div>

<% if territory.assigned? %>
<h2 class="h5 my-3"><%= t('app.attributes.assignments') %></h2>
<% end %>

<div><%= render territory_attribute(:assignee).with_link %></div>
<div><%= render territory_attribute(:assignment_dates) %></div>

<% if territory.file.url %>
  <%= image_tag(territory.file.medium.url, class: 'img-fluid') %>
<% end %>

<%= render Territories::AssignmentsComponent.new(record: territory) %>

<%= render GoogleMapComponent.new(url: territory.google_map) %>


<%= render QrCodeComponent.new(territory.google_map) %>
