<% if show_details? %>
  <details>
    <summary>
<% end %>
<%= render(attribute) { value } %>
<% if show_details? %>
    <%= render CopyToClipboardComponent.new(selector: ".#{bem('phones')}") %>
    </summary>
    <div hidden class="<%= bem('phones') %>"><%= record.phone_numbers.join("\n") %></div>
    
    <% record.phone_numbers.each do |phone| %>
      <div><%= phone %></div>
    <% end %>
  </details>
<% end %>
