
<%= render breadcrumb.on_index %>

<%= link_to 'Novo', urls.new_location_path(territory:), class: 'btn btn-success' %>

<%= render attribute(territory.name).with_label('Território') %>

<div class="index-list">
  <% locations.each do |location| %>
    <div class="territory position-relative item">
      <%= render DropdownMenuComponent.new(type: :item_options) do |component| %>
        <% actions(location).each do |action| %>
          <% component.item do %>
            <%= action %>
          <% end %>
        <% end %>
      <% end %>
      <div class="row">
        <% if location.do_not_visit_at %>
          <div class="alert alert-danger" role="alert">
            Não visitar
          </div>
        <% end %>

        <%= render attribute(location.street_name).with_label('Rua') %>
        <%= render attribute(location.number).with_label('Número') %>
        <%= render attribute(location.block_number).with_label('Quadra') %>
        <%= render attribute(location.contacted_in_last_assignment?).with_label('Contatado').as_boolean %>
        <%= render attribute(location.notes).with_label('Observações') %>
      </div>
    </div>
  <% end %>
</div>
