<%= render breadcrumb %>

<div class="home-dashboard">
  <% if display_week_talks? %>
    <div class="index-list mt-3 dashboard-section">
      <div class="item">
        <h2 class="h5"> <%= talks_title %> </h2>
        <div class="row">
          <% talks do |local, non_local| %>
            <% local.each do |talk| %>
              <div class="col-lg-6">
                <%= render PublicTalks::Talks::ListItemComponent.new(talk) %>
              </div>
            <% end %>
            <% non_local.each do |talk| %>
              <div class="col-lg-6">
                <%= render PublicTalks::Talks::ListItemComponent.new(talk) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="index-list mt-3 dashboard-section">
    <div class="item">
      <h2 class="h5 mb-4"> <%= publishers_title %> </h2>
      <div class="row small">
        <% field_service_groups.each do |group| %>
          <div class="col-sm-12 col-md-4">
            <h3 class="h6"><%= group.name %></h3>
            <% group.publishers.each do |publisher| %>
              <div class="div">
                <%= publisher.name %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render GoogleMapComponent.new(url: current_account.territory_map) %>
