<%= render breadcrumb %>

<h1><%= title %></h1>

<%= render DropdownMenuComponent.new do |component| %>
  <% component.item do %>
    <%= link_to t('app.links.new'), new_admin_db_commercial_territory_path, class: 'btn' %>
  <% end %>
<% end %>

<% territories.each do |territory| %>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <%= territory.name %>
    </div>
    <div class="col-sm-12 col-lg-4">
      <%= territory.assignee %>
    </div>
    <div class="col-sm-12 col-lg-2">
    </div>
    <div class="col-sm-12 col-lg-2 pull-right">
      <%= render DropdownMenuComponent.new do |component| %>
        <% component.item do %>
          <%= link_to t('app.links.edit'), edit_admin_db_regular_territory_path(territory), class: 'btn' %>
        <% end %>
        <% component.item do %>
          <%= link_to t('app.links.delete'), admin_db_regular_territory_path(territory), data: { method: :delete, confirm: t('app.messages.confirm_delete') }, class: 'btn' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render PaginationComponent.new(territories) %>
