<% model = Db::PreachingCampaign %>
<h1> <%= model_name(model) %> </h1>

<div class="card">
  <div class="card-header">
    <%= @campaign.code %> <%= [@campaign.start_date, @campaign.end_date].compact.join('-') %>
  </div>

  <div class="card-body">
    <div class="card-title"><%= @campaign.name %></div>
    <div class="card-text"><%= @campaign.description %></div>
  </div>
</div>
