<% model = Db::PreachingCampaignAssignment %>
<%= render partial: 'campaign', locals: { buttons: false } %>

<h2 class="mt-3"><%= model_name(model) %></h2>

<div class="inline-check-boxes special-legends soft-labels">
  <%= simple_form_for(@assignment, url: field_service_campaign_assignment_path(@campaign, @assignment)) do |f| %>
    <div class="mb-3">
      <%= f.error_notification %>
    </div>
    <div class="mb-3">
      <%= f.input :assignee_id, collection: Db::Publisher.order(:name).pluck(:name, :id) %>
    </div>
    <div class="mb-3">
      <%= f.input :assigned_at, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= f.input :returned_at, include_blank: true %>
    </div>
    <div class="mb-3">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  <% end %>
</div>

