<% model = Db::PreachingCampaignAssignment %>

<%= render partial: 'campaign', locals: { buttons: true } %>

<h2><%= model_name(model) %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= attribute_name(:territory, model: model) %></th>
      <th scope="col"><%= attribute_name(:assignee, model: model) %></th>
      <th scope="col"><%= attribute_name(:assigned_at, model: model) %></th>
      <th scope="col"><%= attribute_name(:returned_at, model: model) %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @assignments.each do |assignemnt| %>
      <tr>
        <td><%= render Territories::TerritoryNameComponent.new(assignemnt.territory, attribute_name: :name) %></td>
        <td><%= assignemnt.assignee&.name %></td>
        <td><%= assignemnt.assigned_at %></td>
        <td><%= assignemnt.returned_at %></td>
        <td class="pull-right">
          <%= render DropdownMenuComponent.new do |component| %>
            <% component.item do %>
              <%= link_to(t('app.links.edit'), edit_field_service_campaign_assignment_path(@campaign, assignemnt)) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render PaginationComponent.new(@assignments)  %>
