<form action="<%= action_url %>">
  <div class="row">

    <div class="col-sm-12 col-lg-3 col-md-6">
      <div class="form-wrapper">
        <label for=""><%= label_for_since %></label>
        <select name="since" class="form-control">
          <option value=""></option>
          <% options_for_since.each do |since| %>
            <option value="<%= since %>" <%= 'selected' if since_selected?(since) %>><%= l(since) %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-6">
      <div class="form-wrapper">
        <label for=""><%= label_for_speaker %></label>
        <select name="speaker_id" class="form-control">
          <option value=""></option>
          <% options_for_speaker.each do |speaker| %>
            <option value="<%= speaker.id %>" <%= 'selected' if speaker_selected?(speaker) %>><%= speaker.name %> (<%= speaker.congregation.name  %> )</option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-6">
      <div class="form-wrapper">
        <label><%= label_for_congregation %></label>
        <select name="congregation_id" class="form-select">
          <option value=""></option>
          <% options_for_congregation.each do |congregation| %>
            <option value="<%= congregation.id %>" <%= 'selected' if congregation_selected?(congregation) %>><%= congregation.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-6">
      <div class="form-wrapper">
        <label><%= label_for_theme %></label>
        <select name="theme" class="form-select">
          <option value=""></option>
          <% options_for_theme.each do |theme| %>
            <option value="<%= theme.number %>" <%= 'selected' if theme_selected?(theme) %>><%= theme %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="col-sm-12">
      <button class="my-2 btn btn-primary float-right" type="submit"><%= t('app.links.filter') %></button>
    </div>
  </div>
</form>
