<form action="<%= action_url %>">
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="form-wrapper">
        <label for="">Orador</label>
        <select name="speaker_id" class="form-control">
          <option value=""></option>
          <% options_for_speaker.each do |speaker| %>
            <option value="<%= speaker.id %>" <%= 'selected' if speaker_selected?(speaker) %>><%= speaker.name %> (<%= speaker.congregation.name  %> )</option>
          <% end %>
        </select>
      </div>
    </div>
  </div>

  <div class="row my-2">
    <div class="col-sm-4">
      <button class="btn btn-primary float-right" type="submit">Filtrar</button>
    </div>
  </div>
</form>
