<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<% if showing_talks_since %>
  <div class="alert alert-warning" role="alert">
    <%= showing_talks_since %>
  </div>
<% end %>

<div class="index-list">
  <% grouped_by_week.each do |week, group| %>
    <div class="row">
      <% segregate(group) do |local, non_local| %>
        <% local.each do |talk| %>
          <div class="col-lg-6">
            <%= render PublicTalks::Talks::ListItemComponent.new(talk) %>
          </div>
        <% end %>

        <% non_local.each do |talk| %>
          <div class="col-lg-6">
            <%= render PublicTalks::Talks::ListItemComponent.new(talk) %>
          </div>
        <% end %>
      <% end %>
    <% group.each do |talk| %>
    <% end %>
    </div>
  <% end %>

  <%= render PaginationComponent.new(talks, position: :bottom) %>
</div>
