<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<div class="index-list">
  <% talks.each do |talk| %>
    <div class="item">
      <div class="row">
        <div class="col-sm-12 col-lg-12 title mb-2">
          <%= theme(talk) %>
          <%= render DropdownMenuComponent.new do |component| %>
            <% component.item do %>
              <%= show_link(talk) %>
            <% end %>
            <% component.item do %>
              <%= edit_link(talk) %>
            <% end %>
            <% component.item do %>
              <%= destroy_link(talk) %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row small">
        <div class="col-sm-12 col-lg-4">
          <% if talk.speaker.present? %>
            <%= icon('person') { speaker_name(talk) } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <% if talk.congregation.present? %>
            <%= icon('shop') { talk.congregation.name } %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-4">
          <%= icon('calendar-date') { l(talk.date) } %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render PaginationComponent.new(talks, position: :bottom) %>
</div>
