<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% component.item do %>
    <%= new_link %>
  <% end %>
<% end %>

<% if showing_talks_since %>
  <div class="alert alert-warning" role="alert">
    <%= showing_talks_since %>
  </div>
<% end %>

<div class="index-list">
  <% talks.each do |talk| %>
    <%= render PublicTalks::Talks::ListItemComponent.new(talk) %>
  <% end %>

  <%= render PaginationComponent.new(talks, position: :bottom) %>
</div>
