<div class="item <%= classes %>">
  <div>
    <div class="small">
      <%= icon('calendar-date') { l(talk.date) } %>
    </div>
    <%= render DropdownMenuComponent.new do |component| %>
      <% component.item do %>
        <%= show_link %>
      <% end %>
      <% component.item do %>
        <%= edit_link %>
      <% end %>
      <% component.item do %>
        <%= destroy_link %>
      <% end %>
    <% end %>
  </div>
  <div class="title">
    <% if talk.theme.present? %>
      <%= icon(:book) { theme(talk) } %>
    <% end %>
    <% if talk.confirmed? %>
      <%= icon('check green') %>
    <% end %>
  </div>
  <div class="small">
    <div>
      <% if talk.speaker.present? %>
        <%= icon('person') { speaker_name(talk) } %>
      <% end %>
    </div>
    <div>
      <% if talk.congregation.present? %>
        <%= icon('shop') { talk.congregation.name } %>
      <% end %>
    </div>
    <% if talk.notes.present? %>
      <div class="extra-small mt-2">
        <%= icon('pencil') { content_tag(:em) { talk.notes } } %>
      </div>
    <% end %>
  </div>
</div>
