<div class="item <%= classes %>">
  <div class="title">
    <%= theme(talk) %>
    <%= render DropdownMenuComponent.new do |component| %>
      <% component.item do %>
        <%= show_link %>
      <% end %>
      <% component.item do %>
        <%= edit_link %>
      <% end %>
      <% component.item do %>
        <%= destroy_link %>
      <% end %>
    <% end %>
  </div>
  <div class="small">
    <div>
      <% if talk.speaker.present? %>
        <%= icon('person') { speaker_name(talk) } %>
      <% end %>
    </div>
    <div>
      <% if talk.congregation.present? %>
        <%= icon('shop') { talk.congregation.name } %>
      <% end %>
    </div>
    <div>
      <%= icon('calendar-date') { l(talk.date, format: :short) } %>
    </div>
  </div>
</div>
