<%= render breadcrumb %>

<%= render DropdownMenuComponent.new(
  classes: ['btn-primary'],
  pull: :right
) do |component| %>
  <% component.item do %>
    <%= edit_link %>
  <% end %>
  <% component.item do %>
    <%= destroy_link %>
  <% end %>
<% end %>

<div class="show-page">
  <div class="row">
    <div class="col-sm-12 mb-2">
      <%= icon('calendar-date') { l(talk.date, format: :short) } %>
    </div>
    <div class="col-sm-12 title mb-2">
      <% if talk.theme.present? %>
        <%= icon(:book) { theme(talk) } %>
      <% end %>
      <% if talk.confirmed? %>
        <%= icon('check green') %>
      <% end %>
    </div>
    <div class="col-sm-12 mb-2">
      <% if talk.speaker.present? %>
        <%= icon('person') { speaker_name(talk) } %>
      <% end %>
    </div>
    <div class="col-sm-12 mb-2">
      <% if talk.congregation.present? %>
        <%= icon('shop') { talk.congregation.name } %>
      <% end %>
    </div>
    <% if talk.notes.present? %>
      <div class="small mt-2">
        <%= icon('pencil') { content_tag(:em) { talk.notes } } %>
      </div>
    <% end %>
  </div>
</div>


<details class="mt-3">
  <summary class="btn full-width btn-primary mb-4"><%= t('app.links.contact_speaker') %></summary>
  <%= render PublicTalks::ContactSpeakerMessageComponent.new(talk) %>
</details>
